# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# VS Code settings
.vscode/

# Local data directories
**/data/*
!**/data/*.md
!**/data/*.txt
!**/data/*.json
